*{
    padding:0;
    margin: 0;
}

#header{
    width: 100%;
    height: 70px;
    background-image:linear-gradient(to right, rgb(21, 208, 241), rgb(76, 45, 252),rgb(116, 6, 126));
    position: sticky;
    top: 0;
    z-index: 2;
}

#logo img{
    width: 80px;
    height: 65px;
    border-radius: 50%;
    margin-top: 3px;
    margin-left: 50px;
    float: left;
}

.menu{
    float: right;
    margin: 10px;
}

.menu li{
    float: left;
    list-style-type: none;
    margin-right: 20px;
}

.menu li a{
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
    display: block;
    color: white;
    text-decoration-style: solid;
}

.menu li a:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
    border-radius: 10px;
    transition:.4s;
}

#banner{
    height: 680px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://online-examination-system-mini-project.github.io/Online_Examination_System/images/2.jpg");
    position: relative;
}

#text{
    top: 175px;
    position: absolute;
    right: 0;
    width: 500px;
}

#text h1{
    color: red;
    font-size: 50px;
    margin-bottom: 15px;
}

#text p{
    color: red;
    font-size: 25px;
}

#text a{
    padding: 20px;
    color:white;
    background-color: red;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;

}

#text a:hover{
    background-color:blue;
}

#footer{
    width: 100%;
    height: 300px;
    background-color:darkslategray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#about{
    width: 400px;
    padding: 10px;
    padding-left: 20px;
    text-align: justify;
    float: left;
    margin: 40px;
}

#about h3{
    color: white;
}

.categories{
    float: left;
    width: 100px;
    height: 150px;
    margin: 40px;
    padding: 10px;
}

.categories h3{
    color: white;
}

.categories a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

#follow-us{
    float: left;
    width: 100px;
    height: 150px;
    margin: 40px;
    padding: 10px;
}

#follow-us h3{
    color: white;
}

#follow-us i{
    color: white;
    font-size: 30px;
    padding: 10px;
}
